.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 25rem;

  .lemony-img-header {
    margin: auto;
    width: 150px;
    height: 35px;
  }
}
